{{ define "head" }}<link rel="stylesheet" type="text/css" href="/css/site.css" />{{ end }}
{{ define "header" }}{{ partial "header.html" . }}{{ end }}
{{ define "main" }}
	{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
	<nav>
		<ol>
			<li><a href="/">{{ .Site.Title }}</a></li>
			<li>{{ .Title }}</li>
		</ol>
	</nav>
	{{ .Content }}
	<ul>
		{{ range .Data.Pages }}
			<li>
				<a href="{{ .URL }}">{{ .Title }}</a>
			</li>
		{{ end }}
	</ul>
{{ end }}
{{ define "footer" }}{{ partial "footer.html" . }}{{ end }}
