[submodule "themes/OpenBlox"]
	path = themes/OpenBlox
	url = ../../openblox/openblox-hugo-theme.git
[submodule "content"]
	path = content
	url = ../../openblox/api-documentation.git
[submodule "static/class-icons"]
	path = static/class-icons
	url = ../../openblox/class-icons.git
