{{ define "head" }}<link rel="stylesheet" type="text/css" href="/css/site.css" />{{ end }}
{{ define "header" }}{{ partial "header.html" . }}{{ end }}
{{ define "main" }}
	{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
	<nav>
		<ol>
			<li><a href="/">{{ .Site.Title }}</a></li>
			<li>{{ .Title }}</li>
		</ol>
	</nav>
	{{ .Content }}
	<ul>
		<li style="list-style-image:url('{{ partial "classiconfile" (slice "Instance" .) -}}');">
			{{ with .Site.GetPage "page" "class" "Instance.md" }}
				<a href="{{ .URL }}">{{ .Title }}</a>
			{{ end }}
			{{ partial "subclasstree" (slice "Instance" .) }}
		</li>
	</ul>
{{ end }}
{{ define "footer" }}{{ partial "footer.html" . }}{{ end }}
