{{ define "head" }}<link rel="stylesheet" type="text/css" href="/css/class.css" />{{ end }}
{{ define "header" }}{{ partial "header.html" . }}{{ end }}
{{ define "main" }}
	{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
	<nav>
		<a href="/">{{ .Site.Title }}</a> » <a href="{{ .CurrentSection.URL }}">{{ .CurrentSection.Title }}</a>
	</nav>
	<ol id="inheritance">
		{{ partial "superclassbreadcrumbs" (slice .Title .) }}
	</ol>
	{{ .Content }}
{{ end }}
{{ define "footer" }}{{ partial "footer.html" . }}{{ end }}
