main > nav > ol {
	padding-left: 0;
}
main > nav > ol > li {
	display: inline;
}
main > nav > ol > li:not(:first-child)::before {
	content: " » ";
}
ol#inheritance {
	padding-left: 0;
	margin-top: 0;
}
ol#inheritance > li {
	display: inline;
}
ol#inheritance > li:not(:first-child)::before {
	content: " › ";
}
